{% extends 'base.html' %}

{% block content %}
<h1 class="title">{% block title %}Employees{% endblock %}</h1>

    <p class='adding_button'><a href='{{url_for("new_contract_employee")}}' class='btn btn-success '>Add employee</a></p>

    <div class="content">
        <table>
            <thead>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Address</th>
                <th>Joined</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for row in employees_info %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{row.firstname}}</td>
                    <td>{{row.lastname}}</td>
                    <td>{{row.email}}</td>
                    <td>{{row.address}}</td>
                    <td>{{row.joined}}</td>
                    <td>{{row.role}}</td>
                    <td><a href='{{url_for("edit_employee",id=row.id)}}' class='btn btn-primary'>Edit</a></td>
                    <td><a href='{{url_for("delete_employee",id=row.id)}}' class='btn btn-danger' onclick='return confirm("Are You Sure")'>Delete</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
            
    <p class='adding_button'><a href='{{url_for("new_no_contract_employee")}}' class='btn btn-success '>Add non-contract employee</a></p>

    <div class="content">
        <table>
            <thead>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for row in no_contract_info %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{row.firstname}}</td>
                    <td>{{row.lastname}}</td>
                    <td>{{row.email}}</td>
                    <td>{{row.contact}}</td>
                    <td>{{row.role}}</td>
                    <td><a href='{{url_for("edit_no_contract_employee",id=row.id)}}' class='btn btn-primary'>Edit</a></td>
                    <td><a href='{{url_for("delete_no_contract_employee",id=row.id)}}' class='btn btn-danger' onclick='return confirm("Are You Sure")'>Delete</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>

    <div class="message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <div class="message_flash">{{ message }}</div>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

{% endblock %}