{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Login {% endblock %}</h1>
    <div class="auth-row">
        <form method="post">
            <p>
                <label for="email">Email</label>
                <input type="email" name="email"
                required class='form-control'>
                </input>
            </p>
            <p>
                <label for="password">Password</label>
                <input type="password" name="pass"
                required class='form-control'>
                </input>
            </p>

            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
        
    </div>

    <p>
        <a class="admin" href="admin_login">Login as admin</a>
    </p>

    <p>
        <a class="admin" href="create_admin">Create an admin account</a>
    </p>

    <div class="message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <div class="message_flash">{{ message }}</div>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    
{% endblock %}